
<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
	</head>
	<body>

	<h1>Batalla Naval</h1>

	<p> <h4><%= @tablero_creado %></h4> </p>

	<form method="POST" action="crear_tablero">
		 <%= csrf_token_field %>
		 <h3> Crear Tablero </h3>
		 <p>	
		 	Alto:
		 	<input type="text" name="x" id="dimension1"/>
		 </p>
		 <p>
			Ancho:
			<input type="text" name="y" id="dimension2"/>
		 </p>
		<input type="submit" value="Setear dimensiones"/>
	</form>

	------------------------------------------------------------------------------
	<p> <h4><%= @barco_creado %></h4> </p>

	<form method="POST" action="crear_barco">
		 <%= csrf_token_field %>
		 <h3> Crear Barco </h3>
		 <p>
			Posiciones del Barco:
			<input type="text" name="posiciones" id="en_posiciones"/>
			*Las posiciones deben ser definidas como, por ej: "posicion x del barco:posicion y del barco"
		 </p>
		<input type="submit" value="A침adir a flota"/>
	</form>
	------------------------------------------------------------------------------
	<p> <h4><%= @hay_barco %></h4> </p>
	
	<form method="POST" action="ver_posicion">
		 <%= csrf_token_field %>
		 <h3> Chequeo de posiciones </h3>
		 <p>
		 	Posici칩n:
			<input type="text" name="posicion" id="ver"/>
		 </p>
		<input type="submit" value="Ver posici칩n"/>
	</form>
	------------------------------------------------------------------------------
	<p> <h4><%= @disparo %></h4> </p>
	
	<form method="POST" action="disparar">
		 <%= csrf_token_field %>
		 <h3> Ataque a Barcos </h3>
		 <p>
		 	Posici칩n:
			<input type="text" name="posicion_en_mira" id="objetivo"/>
			*Las posiciones deben ser definidas como, por ej: "posicion x del barco:posicion y del barco"
		 </p>
		<input type="submit" value="Disparar"/>
	</form>

	</body>
</html>