<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
  </head>
  <body>

  <h1>Batalla Naval</h1>

  <p> <h4><%= @tablero_creado %></h4> </p>

  <form method="POST" action="crear_tablero">
     <%= csrf_token_field %>
     <h3> Crear Tablero </h3>
     <p>  
      Alto:
      <input type="text" name="x" id="dimension1"/>
     </p>
     <p>
      Ancho:
      <input type="text" name="y" id="dimension2"/>
     </p>
    <input type="submit" value="Setear dimensiones"/>
  </form>

  ------------------------------------------------------------------------------
  <p> <h4><%= @barco_creado %></h4> </p>

  <form method="POST" action="crear_barco_chico">
    <%= csrf_token_field %>
    <h3> Crear Barco Chico</h3>
    <h4>Posiciones del Barco</h4>

    <p>Posición:  <input type="text" name="posicion_uno" id="en_posiciones_uno_chico"/> *</p>

    <p>*Las posiciones deben ser definidas como, por ej: "posicion X del barco:posicion Y del barco"</p>
     
    <input type="submit" value="Añadir Barco chico a flota"/>
  </form>
  ------------------------------------------------------------------------------
  <p> <h4><%= @barco_creado %></h4> </p>

  <form method="POST" action="crear_barco_grande">
    <%= csrf_token_field %>
    <h3> Crear Barco Grande</h3>
    <h4>Posiciones del Barco</h4>

    <p>Posición uno:  <input type="text" name="posicion_uno" id="en_posiciones_uno_grande"/> *</p>
    <p>Posición dos:  <input type="text" name="posicion_dos" id="en_posiciones_dos_grande"/> *</p>

    <p>*Las posiciones deben ser definidas como, por ej: "posicion X del barco:posicion Y del barco"</p>
     
    <input type="submit" value="Añadir Barco grande a flota"/>
  </form>
  
  </body>
</html>